<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PTGear/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^([\w-]+)/?$ index.php?page=$1 [L,QSA]
</IfModule>