@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TikTok Sans', sans-serif;
}

.product-detail {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
    padding: 20px;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
}

.product-info-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info-detail h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.product-info-detail .price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 18px;
}

.product-info-detail .price-new {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.product-description {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.discount-badge-large {
    background: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 50px;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

}


.btn-group {
    display: flex;
    gap: 8px;
    padding: 15px;
}

.btn-add {
    flex: 1;
    background: #D3D3D3;
}

.btn-buy {
    flex: 1;
    background: #1E90FF;
    color: #fff;
}