@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TikTok Sans', sans-serif;
}

/* body ẩn tràn nội dung */
body {
    overflow: hidden;
}

/* hình nền sóng (wave) cố định ở dưới cùng */
.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

/* container chính với grid layout */
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

/* khu vực hình ảnh bên trái */
.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* khu vực nội dung đăng nhập */
.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link-container a {
    text-decoration: none;
    color: #999;
    font-size: 1rem;
    transition: .3s;
}

.link-container a:hover {
    color: #4169E1;
}

/* kích thước hình ảnh bên trái */
.img img {
    width: 500px;
}

/* kích thước form đăng nhập */
form {
    width: 360px;
}

/* kích thước hình avatar */
.login-content img {
    height: 100px;
}

/* tiêu đề đăng nhập */
.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.2rem;
}

/* cấu trúc ô nhập liệu */
.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

/* Điều chỉnh margin cho ô nhập liệu đầu tiên */
.login-content .input-div.one {
    margin-top: 0;
}

/* khu vực icon trong ô nhập liệu */
.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hiệu ứng chuyển đổi cho icon */
.i i {
    transition: .3s;
}

/* kích thước và vị trí nội dung trong ô nhập liệu */
.input-div>div {
    position: relative;
    height: 45px;
}

/* nhãn (label) trong ô nhập liệu */
.input-div>div>h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

/* đường gạch dưới động khi focus */
.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #4169E1;
    transition: .4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

/* Điều chỉnh vị trí nhãn khi ô nhập liệu được focus */
.input-div.focus>div>h5 {
    top: -5px;
    font-size: 15px;
}

/* Thay đổi màu icon khi focus */
.input-div.focus>.i>i {
    color: #4169E1;
}

/* ô nhập liệu (input) */
.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

/* Điều chỉnh margin cho ô mật khẩu */
.input-div.pass {
    margin-bottom: 4px;
}

/* style cho liên kết */
a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    padding-top: 10px;
}

a:hover {
    color: #4169E1;
}

/* style cho nút Đăng Nhập */
.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #2F4DB3, #4169E1, #2F4DB3);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

.login-content p {
    margin: 10px 0;
    color: #666;
    font-size: 1rem;
    text-align: center;
}

/* style icon */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 27px;
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #999;
    font-size: 1.5rem;
    transition: .3s;
}

.social-icons a:hover {
    color: #4169E1;
}

/* Báo lỗi */
#errorMessage {
    position: relative;
    color: red;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 13px;
    display: none;
    transition: opacity 0.3s ease;
}

#errorMessage.active {
    display: block;
    opacity: 1;
}


@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}